doctype html
html(lang='en')
  head
    title Matrix Admin
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='css/matrix-style.css')
    link(rel='stylesheet', href='css/matrix-media.css')
    link(href='font-awesome/css/font-awesome.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800', rel='stylesheet', type='text/css')
  body
    // Header-part
    #header
      h1
        a(href='dashboard.html') Matrix Admin
    // close-Header-part
    // top-Header-menu
    #user-nav.navbar.navbar-inverse
      ul.nav
        li#profile-messages.dropdown
          a.dropdown-toggle(title='', href='#', data-toggle='dropdown', data-target='#profile-messages')
            i.icon.icon-user
            span.text Welcome User
            b.caret
          ul.dropdown-menu
            li
              a(href='#')
                i.icon-user
                |  My Profile
            li.divider
            li
              a(href='#')
                i.icon-check
                |  My Tasks
            li.divider
            li
              a(href='login.html')
                i.icon-key
                |  Log Out
        li#menu-messages.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', data-target='#menu-messages')
            i.icon.icon-envelope
            span.text Messages
            span.label.label-important 5
            b.caret
          ul.dropdown-menu
            li
              a.sAdd(title='', href='#')
                i.icon-plus
                |  new message
            li.divider
            li
              a.sInbox(title='', href='#')
                i.icon-envelope
                |  inbox
            li.divider
            li
              a.sOutbox(title='', href='#')
                i.icon-arrow-up
                |  outbox
            li.divider
            li
              a.sTrash(title='', href='#')
                i.icon-trash
                |  trash
        li
          a(title='', href='#')
            i.icon.icon-cog
            span.text Settings
        li
          a(title='', href='login.html')
            i.icon.icon-share-alt
            span.text Logout
    // start-top-serch
    #search
      input(type='text', placeholder='Search here...')
      button.tip-bottom(type='submit', title='Search')
        i.icon-search.icon-white
    // close-top-serch
    // sidebar-menu
    #sidebar
      a.visible-phone(href='#')
        i.icon.icon-home
        |  Dashboard
      ul
        li.active
          a(href='index')
            i.icon.icon-home
            span Dashboard
        li
          a(href='charts')
            i.icon.icon-signal
            span Charts & graphs
        li
          a(href='widgets')
            i.icon.icon-inbox
            span Widgets
        li
          a(href='tables')
            i.icon.icon-th
            span Tables
        li
          a(href='grid')
            i.icon.icon-fullscreen
            span Full width
        li.submenu
          a(href='#')
            i.icon.icon-th-list
            span Forms
            span.label.label-important 3
          ul
            li
              a(href='form-common') Basic Form
            li
              a(href='form-validation') Form with Validation
            li
              a(href='form-wizard') Form with Wizard
        li
          a(href='buttons')
            i.icon.icon-tint
            span Buttons & icons
        li
          a(href='interface')
            i.icon.icon-pencil
            span Eelements
        li.submenu
          a(href='#')
            i.icon.icon-file
            span Addons
            span.label.label-important 5
          ul
            li
              a(href='index2') Dashboard2
            li
              a(href='gallery') Gallery
            li
              a(href='calendar') Calendar
            li
              a(href='invoice') Invoice
            li
              a(href='chat') Chat option
        li.submenu
          a(href='#')
            i.icon.icon-info-sign
            span Error
            span.label.label-important 4
          ul
            li
              a(href='error403') Error 403
            li
              a(href='error404') Error 404
            li
              a(href='error405') Error 405
            li
              a(href='error500') Error 500
        li.content
          span Monthly Bandwidth Transfer
          .progress.progress-mini.progress-danger.active.progress-striped
            .bar(style='width: 77%;')
          span.percent 77%
          .stat 21419.94 / 14000 MB
        li.content
          span Disk Space Usage
          .progress.progress-mini.active.progress-striped
            .bar(style='width: 87%;')
          span.percent 87%
          .stat 604.44 / 4000 MB
    #content
      #content-header
        #breadcrumb
          a.tip-bottom(href='#', title='Go to Home')
            i.icon-home
            |  Home
          a(href='#') Form elements
          a.current(href='#') Form wizard
        h1 Form wizard
      .container-fluid
        hr
        .row-fluid
          .span12
            .widget-box
              .widget-title
                span.icon
                  i.icon-pencil
                h5 Form wizard & validation
              .widget-content.nopadding
                form#form-wizard.form-horizontal(method='post')
                  #form-wizard-1.step
                    .control-group
                      label.control-label Username
                      .controls
                        input#username(type='text', name='username')
                    .control-group
                      label.control-label Password
                      .controls
                        input#password(type='password', name='password')
                    .control-group
                      label.control-label Confirm Password
                      .controls
                        input#password2(type='password', name='password2')
                  #form-wizard-2.step
                    .control-group
                      label.control-label Email
                      .controls
                        input#email(type='text', name='email')
                    .control-group
                      label.control-label EULA
                      .controls
                        input#eula(type='checkbox', name='eula')
                  .form-actions
                    input#back.btn.btn-primary(type='reset', value='Back')
                    input#next.btn.btn-primary(type='submit', value='Next')
                    #status
                  #submitted
    // Footer-part
    .row-fluid
      #footer.span12
        | 2013 © Matrix Admin. Brought to you by
        a(href='http://themedesigner.in') Themedesigner.in
    // end-Footer-part
    script(src='js/jquery.min.js')
    script(src='js/jquery.ui.custom.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.validate.js')
    script(src='js/jquery.wizard.js')
    script(src='js/matrix.js')
    script(src='js/matrix.wizard.js')
