doctype html
html(lang='en')
  head
    title Matrix Admin
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='css/colorpicker.css')
    link(rel='stylesheet', href='css/datepicker.css')
    link(rel='stylesheet', href='css/uniform.css')
    link(rel='stylesheet', href='css/select2.css')
    link(rel='stylesheet', href='css/matrix-style.css')
    link(rel='stylesheet', href='css/matrix-media.css')
    link(rel='stylesheet', href='css/bootstrap-wysihtml5.css')
    link(href='font-awesome/css/font-awesome.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800', rel='stylesheet', type='text/css')
  body
    // Header-part
    #header
      h1
        a(href='dashboard.html') Matrix Admin
    // close-Header-part
    // top-Header-menu
    #user-nav.navbar.navbar-inverse
      ul.nav
        li#profile-messages.dropdown
          a.dropdown-toggle(title='', href='#', data-toggle='dropdown', data-target='#profile-messages')
            i.icon.icon-user
            span.text Welcome User
            b.caret
          ul.dropdown-menu
            li
              a(href='#')
                i.icon-user
                |  My Profile
            li.divider
            li
              a(href='#')
                i.icon-check
                |  My Tasks
            li.divider
            li
              a(href='login.html')
                i.icon-key
                |  Log Out
        li#menu-messages.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', data-target='#menu-messages')
            i.icon.icon-envelope
            span.text Messages
            span.label.label-important 5
            b.caret
          ul.dropdown-menu
            li
              a.sAdd(title='', href='#')
                i.icon-plus
                |  new message
            li.divider
            li
              a.sInbox(title='', href='#')
                i.icon-envelope
                |  inbox
            li.divider
            li
              a.sOutbox(title='', href='#')
                i.icon-arrow-up
                |  outbox
            li.divider
            li
              a.sTrash(title='', href='#')
                i.icon-trash
                |  trash
        li
          a(title='', href='#')
            i.icon.icon-cog
            span.text Settings
        li
          a(title='', href='login.html')
            i.icon.icon-share-alt
            span.text Logout
    // start-top-serch
    #search
      input(type='text', placeholder='Search here...')
      button.tip-bottom(type='submit', title='Search')
        i.icon-search.icon-white
    // close-top-serch
    // sidebar-menu
    #sidebar
      a.visible-phone(href='#')
        i.icon.icon-home
        |  Dashboard
      ul
        li.active
          a(href='index')
            i.icon.icon-home
            span Dashboard
        li
          a(href='charts')
            i.icon.icon-signal
            span Charts & graphs
        li
          a(href='widgets')
            i.icon.icon-inbox
            span Widgets
        li
          a(href='tables')
            i.icon.icon-th
            span Tables
        li
          a(href='grid')
            i.icon.icon-fullscreen
            span Full width
        li.submenu
          a(href='#')
            i.icon.icon-th-list
            span Forms
            span.label.label-important 3
          ul
            li
              a(href='form-common') Basic Form
            li
              a(href='form-validation') Form with Validation
            li
              a(href='form-wizard') Form with Wizard
        li
          a(href='buttons')
            i.icon.icon-tint
            span Buttons & icons
        li
          a(href='interface')
            i.icon.icon-pencil
            span Eelements
        li.submenu
          a(href='#')
            i.icon.icon-file
            span Addons
            span.label.label-important 5
          ul
            li
              a(href='index2') Dashboard2
            li
              a(href='gallery') Gallery
            li
              a(href='calendar') Calendar
            li
              a(href='invoice') Invoice
            li
              a(href='chat') Chat option
        li.submenu
          a(href='#')
            i.icon.icon-info-sign
            span Error
            span.label.label-important 4
          ul
            li
              a(href='error403') Error 403
            li
              a(href='error404') Error 404
            li
              a(href='error405') Error 405
            li
              a(href='error500') Error 500
        li.content
          span Monthly Bandwidth Transfer
          .progress.progress-mini.progress-danger.active.progress-striped
            .bar(style='width: 77%;')
          span.percent 77%
          .stat 21419.94 / 14000 MB
        li.content
          span Disk Space Usage
          .progress.progress-mini.active.progress-striped
            .bar(style='width: 87%;')
          span.percent 87%
          .stat 604.44 / 4000 MB
    // close-left-menu-stats-sidebar
    #content
      #content-header
        #breadcrumb
          a.tip-bottom(href='index.html', title='Go to Home')
            i.icon-home
            |  Home
          a.tip-bottom(href='#') Form elements
          a.current(href='#') Common elements
        h1 Common Form Elements
      .container-fluid
        hr
        .row-fluid
          .span6
            .widget-box
              .widget-title
                span.icon
                  i.icon-align-justify
                h5 Personal-info
              .widget-content.nopadding
                form.form-horizontal(action='#', method='get')
                  .control-group
                    label.control-label First Name :
                    .controls
                      input.span11(type='text', placeholder='First name')
                  .control-group
                    label.control-label Last Name :
                    .controls
                      input.span11(type='text', placeholder='Last name')
                  .control-group
                    label.control-label Password input
                    .controls
                      input.span11(type='password', placeholder='Enter Password')
                  .control-group
                    label.control-label Company info :
                    .controls
                      input.span11(type='text', placeholder='Company name')
                  .control-group
                    label.control-label Description field:
                    .controls
                      input.span11(type='text')
                      span.help-block Description field
                  .control-group
                    label.control-label Message
                    .controls
                      textarea.span11
                  .form-actions
                    button.btn.btn-success(type='submit') Save
            .widget-box
              .widget-title
                span.icon
                  i.icon-align-justify
                h5 Form Elements
              .widget-content.nopadding
                form.form-horizontal(action='#', method='get')
                  .control-group
                    label.control-label Select input
                    .controls
                      select
                        option First option
                        option Second option
                        option Third option
                        option Fourth option
                        option Fifth option
                        option Sixth option
                        option Seventh option
                        option Eighth option
                  .control-group
                    label.control-label Multiple Select input
                    .controls
                      select(multiple='')
                        option First option
                        option(selected='') Second option
                        option Third option
                        option Fourth option
                        option Fifth option
                        option Sixth option
                        option Seventh option
                        option Eighth option
                  .control-group
                    label.control-label Radio inputs
                    .controls
                      label
                        input(type='radio', name='radios')
                        |                   First One
                      label
                        input(type='radio', name='radios')
                        |                   Second One
                      label
                        input(type='radio', name='radios')
                        |                   Third One
                  .control-group
                    label.control-label Checkboxes
                    .controls
                      label
                        input(type='checkbox', name='radios')
                        |                   First One
                      label
                        input(type='checkbox', name='radios')
                        |                   Second One
                      label
                        input(type='checkbox', name='radios')
                        |                   Third One
                  .control-group
                    label.control-label(for='checkboxes') Data Toggle checkbox
                    .controls
                      .btn-group(data-toggle='buttons-checkbox')
                        button.btn.btn-primary(type='button') Left
                        button.btn.btn-primary(type='button') Middle
                        button.btn.btn-primary(type='button') Right
                  .control-group
                    label.control-label(for='checkboxes') Data Radio button
                    .controls
                      .btn-group(data-toggle='buttons-radio')
                        button.btn.btn-primary(type='button') Left
                        button.btn.btn-primary(type='button') Middle
                        button.btn.btn-primary(type='button') Right
                  .control-group
                    label.control-label File upload input
                    .controls
                      input(type='file')
                  .control-group
                    label.control-label Disabled Input
                    .controls
                      input.span11(type='text', placeholder="You can't type anything…", disabled='')
                  .form-actions
                    button.btn.btn-success(type='submit') Save
            .widget-box
              .widget-title
                span.icon
                  i.icon-align-justify
                h5 Form Elements
              .widget-content.nopadding
                form.form-horizontal
                  .control-group
                    label.control-label Color picker (hex)
                    .controls
                      input.colorpicker.input-big.span11(type='text', data-color='#ffffff', value='#ffffff')
                      span.help-block Color picker with Formate of  (hex)
                  .control-group
                    label.control-label Color picker (rgba)
                    .controls
                      input.colorpicker.span11(type='text', data-color='rgba(344,232,53,0.5)', value='rgba(344,232,53,0.5)', data-color-format='rgba')
                      span.help-block Color picker with Formate of  (rgba)
                  .control-group
                    label.control-label Date picker (dd-mm)
                    .controls
                      input.datepicker.span11(type='text', data-date='01-02-2013', data-date-format='dd-mm-yyyy', value='01-02-2013')
                      span.help-block Date with Formate of  (dd-mm-yy)
                  .control-group
                    label.control-label Date Picker (mm-dd)
                    .controls
                      .input-append.date.datepicker(data-date='12-02-2012')
                        input.span11(type='text', value='12-02-2012', data-date-format='mm-dd-yyyy')
                        span.add-on
                          i.icon-th
                  .control-group
                    label.control-label Color Picker (rgb)
                    .controls
                      .input-append.color.colorpicker.colorpicker-rgb(data-color-format='rgb', data-color='rgb(155, 142, 180)')
                        input.span11(type='text', value='rgb(155, 142, 180)')
                        span.add-on
                          i(style='background-color: rgb(155, 142, 180)')
                  .control-group
                    label.control-label Color Picker (hex)
                    .controls
                      .input-append.color.colorpicker(data-color-format='hex', data-color='#000000')
                        input.span11(type='text', value='#000000')
                        span.add-on
                          i(style='background-color: #000000')
                  .form-actions
                    button.btn.btn-success(type='submit') Save
                    button.btn.btn-primary(type='submit') Reset
                    button.btn.btn-info(type='submit') Edit
                    button.btn.btn-danger(type='submit') Cancel
          .span6
            .widget-box
              .widget-title
                span.icon
                  i.icon-align-justify
                h5 Form Elements
              .widget-content.nopadding
                form.form-horizontal(action='#')
                  .control-group
                    label.control-label(for='normal') Phone field
                    .controls
                      input#mask-phone.span8.mask.text(type='text')
                      span.help-block.blue.span8 (999) 999-9999
                  .control-group
                    label.control-label(for='normal') Phone field + ext.
                    .controls
                      input#mask-phoneExt.span8.mask.text(type='text')
                      span.help-block.blue.span8 (999) 999-9999? x99999
                  .control-group
                    label.control-label(for='normal') Phone field + ext.
                    .controls
                      input#mask-phoneInt.span8.mask.text(type='text')
                      span.help-block.blue.span8 +40 999 999 999
                  .control-group
                    label.control-label(for='normal') Date field
                    .controls
                      input#mask-date.span8.mask.text(type='text')
                      span.help-block.blue.span8 99/99/9999
                  .control-group
                    label.control-label(for='normal') SSN field
                    .controls
                      input#mask-ssn.span8.mask.text(type='text')
                      span.help-block.blue.span8 999-99-9999
                  .control-group
                    label.control-label(for='normal') Product Key
                    .controls
                      input#mask-productKey.span8.mask.text(type='text')
                      span.help-block.blue.span8 a*-999-a999
                  .control-group
                    label.control-label(for='normal') Eye Script
                    .controls
                      input#mask-eyeScript.span8.mask.text(type='text')
                      span.help-block.blue.span8 ~9.99 ~9.99 999
                  .control-group
                    label.control-label(for='normal') Percent
                    .controls
                      input#mask-percent.span8.mask.text(type='text')
                      span.help-block.blue.span8 99%
            .widget-box
              .widget-title
                span.icon
                  i.icon-align-justify
                h5 Form Elements
              .widget-content.nopadding
                form.form-horizontal
                  .control-group
                    label.control-label Tooltip Input
                    .controls
                      input.span11.tip(type='text', placeholder='Hover for tooltip…', data-title='A tooltip for the input', data-original-title='')
                  .control-group
                    label.control-label Type ahead Input
                    .controls
                      input.span11(type='text', placeholder='Type here for auto complete…', style='margin: 0 auto;', data-provide='typeahead', data-items='4', data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Ahmedabad","India","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]')
                  .control-group
                    label.control-label Prepended Input
                    .controls
                      .input-prepend
                        span.add-on #
                        input.span11(type='text', placeholder='prepend')
                  .control-group
                    label.control-label Appended Input
                    .controls
                      .input-append
                        input.span11(type='text', placeholder='5.000')
                        span.add-on $
                  .control-group.warning
                    label.control-label(for='inputWarning') Input with warning
                    .controls
                      input#inputWarning.span11(type='text')
                      span.help-inline Something may have gone wrong
                  .control-group.error
                    label.control-label(for='inputError') Input with error
                    .controls
                      input#inputError.span11(type='text')
                      span.help-inline Please correct the error
                  .control-group.info
                    label.control-label(for='inputInfo') Input with info
                    .controls
                      input#inputInfo.span11(type='text')
                      span.help-inline Username is already taken
                  .control-group.success
                    label.control-label(for='inputSuccess') Input with success
                    .controls
                      input#inputSuccess.span11(type='text')
                      span.help-inline Woohoo!
            .widget-box
              .widget-title
                span.icon
                  i.icon-align-justify
                h5 Form Layout
              .widget-content
                .controls
                  input.span12.m-wrap(type='text', placeholder='.span12')
                .controls.controls-row
                  input.span11.m-wrap(type='text', placeholder='.span11')
                  input.span1.m-wrap(type='text', placeholder='.span1')
                .controls.controls-row
                  input.span10.m-wrap(type='text', placeholder='.span10')
                  input.span2.m-wrap(type='text', placeholder='.span2')
                .controls.controls-row
                  input.span9.m-wrap(type='text', placeholder='.span9')
                  input.span3.m-wrap(type='text', placeholder='.span3')
                .controls.controls-row
                  input.span8.m-wrap(type='text', placeholder='.span8')
                  input.span4.m-wrap(type='text', placeholder='.span4')
                .controls.controls-row
                  input.span7.m-wrap(type='text', placeholder='.span7')
                  input.span5.m-wrap(type='text', placeholder='.span5')
                .controls.controls-row
                  input.span6.m-wrap(type='text', placeholder='.span6')
                  input.span6.m-wrap(type='text', placeholder='.span6')
                .controls.controls-row
                  input.span5.m-wrap(type='text', placeholder='.span5')
                  input.span7.m-wrap(type='text', placeholder='.span7')
                .controls.controls-row
                  input.span2.m-wrap(type='text', placeholder='.span2')
                  input.span3.m-wrap(type='text', placeholder='.span3')
                  input.span4.m-wrap(type='text', placeholder='.span4')
                  input.span2.m-wrap(type='text', placeholder='.span1')
                  input.span1.m-wrap(type='text', placeholder='.span1')
        .row-fluid
          .widget-box
            .widget-title
              span.icon
                i.icon-align-justify
              h5 wysihtml5
            .widget-content
              .control-group
                form
                  .controls
                    textarea.textarea_editor.span12(rows='6', placeholder='Enter text ...')
    // Footer-part
    .row-fluid
      #footer.span12
        | 2013 © Matrix Admin. Brought to you by
        a(href='http://themedesigner.in') Themedesigner.in
    // end-Footer-part
    script(src='js/jquery.min.js')
    script(src='js/jquery.ui.custom.js')
    script(src='js/bootstrap.min.js')
    script(src='js/bootstrap-colorpicker.js')
    script(src='js/bootstrap-datepicker.js')
    script(src='js/jquery.toggle.buttons.js')
    script(src='js/masked.js')
    script(src='js/jquery.uniform.js')
    script(src='js/select2.min.js')
    script(src='js/matrix.js')
    script(src='js/matrix.form_common.js')
    script(src='js/wysihtml5-0.3.0.js')
    script(src='js/jquery.peity.min.js')
    script(src='js/bootstrap-wysihtml5.js')
    script.
      $('.textarea_editor').wysihtml5();
