doctype html
html(lang='en')
  head
    title Matrix Admin
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='css/fullcalendar.css')
    link(rel='stylesheet', href='css/matrix-style.css')
    link(rel='stylesheet', href='css/matrix-media.css')
    link(href='font-awesome/css/font-awesome.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800', rel='stylesheet', type='text/css')
  body
    // Header-part
    #header
      h1
        a(href='dashboard.html') Matrix Admin
    // close-Header-part
    // top-Header-menu
    #user-nav.navbar.navbar-inverse
      ul.nav
        li#profile-messages.dropdown
          a.dropdown-toggle(title='', href='#', data-toggle='dropdown', data-target='#profile-messages')
            i.icon.icon-user
            span.text Welcome User
            b.caret
          ul.dropdown-menu
            li
              a(href='#')
                i.icon-user
                |  My Profile
            li.divider
            li
              a(href='#')
                i.icon-check
                |  My Tasks
            li.divider
            li
              a(href='login.html')
                i.icon-key
                |  Log Out
        li#menu-messages.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', data-target='#menu-messages')
            i.icon.icon-envelope
            span.text Messages
            span.label.label-important 5
            b.caret
          ul.dropdown-menu
            li
              a.sAdd(title='', href='#')
                i.icon-plus
                |  new message
            li.divider
            li
              a.sInbox(title='', href='#')
                i.icon-envelope
                |  inbox
            li.divider
            li
              a.sOutbox(title='', href='#')
                i.icon-arrow-up
                |  outbox
            li.divider
            li
              a.sTrash(title='', href='#')
                i.icon-trash
                |  trash
        li
          a(title='', href='#')
            i.icon.icon-cog
            span.text Settings
        li
          a(title='', href='login.html')
            i.icon.icon-share-alt
            span.text Logout
    // start-top-serch
    #search
      input(type='text', placeholder='Search here...')
      button.tip-bottom(type='submit', title='Search')
        i.icon-search.icon-white
    // close-top-serch
    // sidebar-menu
    #sidebar
      a.visible-phone(href='#')
        i.icon.icon-home
        |  Dashboard
      ul
        li.active
          a(href='index')
            i.icon.icon-home
            span Dashboard
        li
          a(href='charts')
            i.icon.icon-signal
            span Charts & graphs
        li
          a(href='widgets')
            i.icon.icon-inbox
            span Widgets
        li
          a(href='tables')
            i.icon.icon-th
            span Tables
        li
          a(href='grid')
            i.icon.icon-fullscreen
            span Full width
        li.submenu
          a(href='#')
            i.icon.icon-th-list
            span Forms
            span.label.label-important 3
          ul
            li
              a(href='form-common') Basic Form
            li
              a(href='form-validation') Form with Validation
            li
              a(href='form-wizard') Form with Wizard
        li
          a(href='buttons')
            i.icon.icon-tint
            span Buttons & icons
        li
          a(href='interface')
            i.icon.icon-pencil
            span Eelements
        li.submenu
          a(href='#')
            i.icon.icon-file
            span Addons
            span.label.label-important 5
          ul
            li
              a(href='index2') Dashboard2
            li
              a(href='gallery') Gallery
            li
              a(href='calendar') Calendar
            li
              a(href='invoice') Invoice
            li
              a(href='chat') Chat option
        li.submenu
          a(href='#')
            i.icon.icon-info-sign
            span Error
            span.label.label-important 4
          ul
            li
              a(href='error403') Error 403
            li
              a(href='error404') Error 404
            li
              a(href='error405') Error 405
            li
              a(href='error500') Error 500
        li.content
          span Monthly Bandwidth Transfer
          .progress.progress-mini.progress-danger.active.progress-striped
            .bar(style='width: 77%;')
          span.percent 77%
          .stat 21419.94 / 14000 MB
        li.content
          span Disk Space Usage
          .progress.progress-mini.active.progress-striped
            .bar(style='width: 87%;')
          span.percent 87%
          .stat 604.44 / 4000 MB
    #content
      #content-header
        #breadcrumb
          a.tip-bottom(href='index.html', title='Go to Home')
            i.icon-home
            |  Home
      .quick-actions_homepage
        ul.quick-actions
          li.bg_lb
            a(href='#')
              i.icon-dashboard
              |  My Dashboard
          li.bg_lg
            a(href='#')
              i.icon-shopping-cart
              |  Shopping Cart
          li.bg_ly
            a(href='#')
              i.icon-globe
              |  Web Marketing
          li.bg_lo
            a(href='#')
              i.icon-group
              |  Manage Users
          li.bg_ls
            a(href='#')
              i.icon-signal
              |  Check Statistics
      .container-fluid
        .row-fluid
          .span6
            .widget-box
              .widget-title.bg_ly(data-toggle='collapse', href='#collapseG2')
                span.icon
                  i.icon-chevron-down
                h5 Latest Posts
              #collapseG2.widget-content.nopadding.collapse.in
                ul.recent-posts
                  li
                    .user-thumb
                      img(width='40', height='40', alt='User', src='img/demo/av1.jpg')
                    .article-post
                      span.user-info  By: john Deo / Date: 2 Aug 2012 / Time:09:27 AM
                      p
                        a(href='#')
                          | This is a much longer one that will go on for a few lines.It has multiple paragraphs and is full of waffle to pad out the comment.
                  li
                    .user-thumb
                      img(width='40', height='40', alt='User', src='img/demo/av2.jpg')
                    .article-post
                      span.user-info  By: john Deo / Date: 2 Aug 2012 / Time:09:27 AM
                      p
                        a(href='#')
                          | This is a much longer one that will go on for a few lines.It has multiple paragraphs and is full of waffle to pad out the comment.
                  li
                    .user-thumb
                      img(width='40', height='40', alt='User', src='img/demo/av4.jpg')
                    .article-post
                      span.user-info  By: john Deo / Date: 2 Aug 2012 / Time:09:27 AM
                      p
                        a(href='#')
                          | This is a much longer one that will go on for a few lines.Itaffle to pad out the comment.
                  li
                    button.btn.btn-warning.btn-mini View All
            .widget-box
              .widget-title
                span.icon
                  i.icon-ok
                h5 To Do list
              .widget-content
                .todo
                  ul
                    li.clearfix
                      .txt
                        | Luanch This theme on Themeforest
                        span.by.label Nirav
                        span.date.badge.badge-important Today
                      .pull-right
                        a.tip(href='#', title='Edit Task')
                          i.icon-pencil
                        a.tip(href='#', title='Delete')
                          i.icon-remove
                    li.clearfix
                      .txt
                        | Manage Pending Orders
                        span.by.label Alex
                        span.date.badge.badge-warning Today
                      .pull-right
                        a.tip(href='#', title='Edit Task')
                          i.icon-pencil
                        a.tip(href='#', title='Delete')
                          i.icon-remove
                    li.clearfix
                      .txt
                        | MAke your desk clean
                        span.by.label Admin
                        span.date.badge.badge-success Tomorrow
                      .pull-right
                        a.tip(href='#', title='Edit Task')
                          i.icon-pencil
                        a.tip(href='#', title='Delete')
                          i.icon-remove
                    li.clearfix
                      .txt
                        | Today we celebrate the great looking theme
                        span.by.label Admin
                        span.date.badge.badge-info 08.03.2013
                      .pull-right
                        a.tip(href='#', title='Edit Task')
                          i.icon-pencil
                        a.tip(href='#', title='Delete')
                          i.icon-remove
                    li.clearfix
                      .txt
                        | Manage all the orders
                        span.by.label Mark
                        span.date.badge.badge-info 12.03.2013
                      .pull-right
                        a.tip(href='#', title='Edit Task')
                          i.icon-pencil
                        a.tip(href='#', title='Delete')
                          i.icon-remove
          .span6
            .widget-box
              .widget-title
                span.icon
                  i.icon-ok
                h5 Progress Box
              .widget-content
                ul.unstyled
                  li
                    span.icon24.icomoon-icon-arrow-up-2.green
                    |  81% Clicks
                    span.pull-right.strong 567
                    .progress.progress-striped
                      .bar(style='width: 81%;')
                  li
                    span.icon24.icomoon-icon-arrow-up-2.green
                    |  72% Uniquie Clicks
                    span.pull-right.strong 507
                    .progress.progress-success.progress-striped
                      .bar(style='width: 72%;')
                  li
                    span.icon24.icomoon-icon-arrow-down-2.red
                    |  53% Impressions
                    span.pull-right.strong 457
                    .progress.progress-warning.progress-striped
                      .bar(style='width: 53%;')
                  li
                    span.icon24.icomoon-icon-arrow-up-2.green
                    |  3% Online Users
                    span.pull-right.strong 8
                    .progress.progress-danger.progress-striped
                      .bar(style='width: 3%;')
            .widget-box
              .widget-title.bg_lo(data-toggle='collapse', href='#collapseG3')
                span.icon
                  i.icon-chevron-down
                h5 News updates
              #collapseG3.widget-content.nopadding.updates.collapse.in
                .new-update.clearfix
                  i.icon-ok-sign
                  .update-done
                    a(title='', href='#')
                      strong Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    span dolor sit amet, consectetur adipiscing eli
                  .update-date
                    span.update-day 20
                    | jan
                .new-update.clearfix
                  i.icon-gift
                  span.update-notice
                    a(title='', href='#')
                      strong Congratulation Maruti, Happy Birthday
                    span many many happy returns of the day
                  span.update-date
                    span.update-day 11
                    | jan
                .new-update.clearfix
                  i.icon-move
                  span.update-alert
                    a(title='', href='#')
                      strong Maruti is a Responsive Admin theme
                    span But already everything was solved. It will ...
                  span.update-date
                    span.update-day 07
                    | Jan
                .new-update.clearfix
                  i.icon-leaf
                  span.update-done
                    a(title='', href='#')
                      strong Envato approved Maruti Admin template
                    span i am very happy to approved by TF
                  span.update-date
                    span.update-day 05
                    | jan
                .new-update.clearfix
                  i.icon-question-sign
                  span.update-notice
                    a(title='', href='#')
                      strong I am alwayse here if you have any question
                    span we glad that you choose our template
                  span.update-date
                    span.update-day 01
                    | jan
        hr
        .row-fluid
          .span12
            .widget-box.widget-calendar
              .widget-title
                span.icon
                  i.icon-calendar
                h5 Calendar
                .buttons
                  a#add-event.btn.btn-inverse.btn-mini(data-toggle='modal', href='#modal-add-event')
                    i.icon-plus.icon-white
                    |  Add new event
                  #modal-add-event.modal.hide
                    .modal-header
                      button.close(type='button', data-dismiss='modal') ×
                      h3 Add a new event
                    .modal-body
                      p Enter event name:
                      p
                        input#event-name(type='text')
                    .modal-footer
                      a.btn(href='#', data-dismiss='modal') Cancel
                      a#add-event-submit.btn.btn-primary(href='#') Add event
              .widget-content
                .panel-left
                  #fullcalendar
                #external-events.panel-right
                  .panel-title
                    h5 Drag Events to the calander
                  .panel-content
                    .external-event.ui-draggable.label.label-inverse My Event 1
                    .external-event.ui-draggable.label.label-inverse My Event 2
                    .external-event.ui-draggable.label.label-inverse My Event 3
                    .external-event.ui-draggable.label.label-inverse My Event 4
                    .external-event.ui-draggable.label.label-inverse My Event 5
    // Footer-part
    .row-fluid
      #footer.span12
        | 2013 © Matrix Admin. Brought to you by
        a(href='http://themedesigner.in') Themedesigner.in
    // end-Footer-part
    script(src='js/excanvas.min.js')
    script(src='js/jquery.min.js')
    script(src='js/jquery.ui.custom.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.flot.min.js')
    script(src='js/jquery.flot.resize.min.js')
    script(src='js/jquery.peity.min.js')
    script(src='js/matrix.js')
    script(src='js/fullcalendar.min.js')
    script(src='js/matrix.calendar.js')
    script(src='js/matrix.chat.js')
    script(src='js/jquery.validate.js')
    script(src='js/matrix.form_validation.js')
    script(src='js/jquery.wizard.js')
    script(src='js/jquery.uniform.js')
    script(src='js/select2.min.js')
    script(src='js/matrix.popover.js')
    script(src='js/jquery.dataTables.min.js')
    script(src='js/matrix.tables.js')
    script(src='js/matrix.interface.js')
    script(type='text/javascript').
      // This function is called from the pop-up menus to transfer to
      // a different page. Ignore if the value returned is a null string:
      function goPage (newURL) {
      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {
      // if url is "-", it is this page -- reset the menu:
      if (newURL == "-" ) {
      resetMenu();
      }
      // else, send page to designated URL
      else {
      document.location.href = newURL;
      }
      }
      }
      // resets the menu selection upon entry to this page:
      function resetMenu() {
      document.gomenu.selector.selectedIndex = 2;
      }
